.cycle_time_by_point_loading_gif {
    width: 35px;
}

.cycle_time_average {
    width: 400px;
    background-color: lightblue;
    margin-left: 760px;
    margin-top: -470px;
    position: absolute;
}

.chart_header {
    color: red;
    padding: 5px;
    margin-bottom: 5px;
    font-size: medium;
}

.chart_table {
    color: blue;
}

.chart_column_header {
    color: green;
    padding: 5px;
}

.chart_column_element {
    color: yellow;
}